@tailwind base;
@tailwind components;
@tailwind utilities;


#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100vh;
}

.btn {
  font-size: 1.2rem;
  padding: 1.0rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  width: 100%;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

.center{
  /* position: absolute; */
  text-align: center;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
}
.center span{
  color: rgba(255,0,0,0.1);
  /* font-size: 50px; */
  text-transform: uppercase;
  font-weight: 700;
  background-size: cover;
  background-image: url(https://cdn-images-1.medium.com/max/2000/1*Jalb56N34pBIGCjQULtW3A.jpeg);
  -webkit-background-clip: text;
  animation: background-text-animation 15s linear infinite;
}
@keyframes background-text-animation {
  0%{
    background-position: left 0px top 50%;
  }
  50%{
    background-position: left 1500px top 50%;
  }
  100%{
    background-position: left 0px top 50%;
  }
}

.h2 { 
  /* font-size: 36px;  */
  font-weight: bold; 
  animation: textShadow 1s ease-in-out  
    infinite alternate; 
} 

@keyframes textShadow { 
  from { 
      text-shadow: 2px 2px #333; 
  } 

  to { 
      text-shadow: 10px 10px #333; 
  } 
} 
